{% extends "base.html" %}
  {% block title %}
    about Us 
  {% endblock  %}
   {% block body %}

<div class="container">
	<div class="row" style="background-color: #080">
		  
		  <img class=" float-left col-md-4" src="images/Sureshkumar-Doera.jpg" alt="Card image cap" height="300" style="padding:0px; margin: 0px">
		  <div class=" col-md-8" >
		  <div class="card-body">
		  	<h2 class="text-center">Abdalrhman Mahmoud </h2><br>
		    <p class="card-text">the website developer and he create it from scratch 
				with pure python Django as backend and HTML5&CS3 & BOOTSTRAP and JAVASCRIPT as the front side technology<br>
				he works as freelance web Developer and he did more than 100 projects in and outside freelance websites like People Per Hours and Up work<br>

 				what he believes in <br>
 				<i class="fa fa-quote-left"></i>  everyone can make difference by this one way even it looks strange way or not effective from your point of view   <i class="fa fa-quote-right"></i></p>
		  </div>
		</div>
	</div>

		<hr>
		<div class="row" style="background-color: #ddd">		  
		  <div class=" col-md-8" >
		  <div class="card-body">
		  	<h2 class="text-center">Abdalrhman Mahmoud </h2><br>
		    <p class="card-text">the website developer and he create it from scratch 
				with pure python Django as backend and HTML5&CS3 & BOOTSTRAP and JAVASCRIPT as the front side technology<br>
				he works as freelance web Developer and he did more than 100 projects in and outside freelance websites like People Per Hours and Up work<br>

 				what he believes in <br>
 				<i class="fa fa-quote-left"></i>  everyone can make difference by this one way even it looks strange way or not effective from your point of view   <i class="fa fa-quote-right"></i></p>
		  </div>
		</div>
		<img class="rounded float-left col-md-4" src="images/Sureshkumar-Doera.jpg" alt="Card image cap" height="300">
	</div>
<hr>
		<div class="row">
		  
		  <img class="rounded float-left col-md-4" src="images/Sureshkumar-Doera.jpg" alt="Card image cap" height="300">
		  <div class=" col-md-8" >
		  <div class="card-body">
		  	<h2 class="text-center">Abdalrhman Mahmoud </h2><br>
		    <p class="card-text">the website developer and he create it from scratch 
				with pure python Django as backend and HTML5&CS3 & BOOTSTRAP and JAVASCRIPT as the front side technology<br>
				he works as freelance web Developer and he did more than 100 projects in and outside freelance websites like People Per Hours and Up work<br>

 				what he believes in <br>
 				<i class="fa fa-quote-left"></i>  everyone can make difference by this one way even it looks strange way or not effective from your point of view   <i class="fa fa-quote-right"></i></p>
		  </div>
		</div>
	</div>
</div>

</div>



   {% endblock body %}




